
* {
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif */
    /* Letter-spacing, line-height, font-weight, font-size, font_family */
}

/* clearfix is applied to the parent container to 'fix' the flow of the page */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header-wrapper
{
   /* margin: 0 auto; */
   font-family:Georgia;
   width: 100%;
   background-color: #fff;
   border-bottom: 3px solid #cccccc;
}

header {
   letter-spacing: 3px;
   margin: auto;
   width: 960px;
   background-color: #fff;
   padding-top: 10px;
}
.tab {
   /* font-family: 'Georgia', Times, Times New Roman, serif; 
   background-color: #4aaaa5;
   color: #fff;
   float:left;
   padding: 25px 25px 25px 25px;
   margin :20px 0 0 63px;
    margin-bottom:0; 
   font-size: 24pt; */
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
   float: right;
   padding: 25px 20px 20px 20px;
   margin :20px 63px 0 0;
}
a {
   color: #777777;
   text-decoration: none;
   font-size: 16px;
}

body {
    background-image: url("https://dewyoyo.github.io/Basic-Portfolio/assets/images/stripes-light.png");
    
}
.body-wrapper
{
    background: #fff;
	color: #666;
    margin :20px 250px;
    text-align: left;
}
.bodytitle{
    background-color: #fff;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width:3px;
    border-bottom-left-radius: 20px;
    padding: 25px 25px 25px 25px;
    text-align: left;
    font-size:36pt;
}
.bodyimages{
    padding: 25px 25px 15px 25px;
    float:left;
}
.bodytext{
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    padding: 25px 25px 25px 25px;
}

footer {
    clear: both;
    color: white;
	background: #666666;
	border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    height:50px;
    font-size: 10pt;
    text-align: center;
}

#name{
    width: 100%;
}

#email{
    width: 100%;
}
#Message{
    width: 100%;
}

.bodytext1, .bodytext2, .bodytext3, .bodytext4{
    padding: 0 25px 0 25px;
}
#name, #email, #Message{
    border: 2px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
}

#submit{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
